<launch>
    <arg name="rviz" default="true" />
    <rosparam command="load" file="$(find fast_livo)/config/avia_resize.yaml" />

    <node pkg="fast_livo" type="localization" name="localization" output="screen" >
         <rosparam file="$(find fast_livo)/config/camera_pinhole_resize.yaml" />
    </node>
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_livo)/rviz_cfg/loam_livox.rviz" />
        
    
    </group>
    <node pkg="image_transport" type="republish" name="republish" args="compressed in:=/image raw out:=/image" output="screen" respawn="true"/>

launch-prefix="gdb -ex run --args" launch-prefix="valgrind --leak-check=full --show-leak-kinds=all"

</launch>
